# ------------------------
# Terraform
# ------------------------
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/.terraform.lock.hcl
*.tfvars

# ------------------------
# AWS / Secrets
# ------------------------
*.pem
*.key
*.crt
.env

# ------------------------
# Python
# ------------------------
venv/
__pycache__/
*.pyc

# ------------------------
# Node / Build
# ------------------------
node_modules/

# ------------------------
# OS / IDE
# ------------------------
.vscode/
.DS_Store
Thumbs.db

